<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>这个APP涉及蓝牙硬件的操作。为了完成正常的操作，手机必须打开蓝牙功能连接设备操作。</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>这个APP涉及蓝牙硬件的操作。为了完成正常的操作，手机必须打开蓝牙功能连接设备操作。</string>
</dict>
</plist>
